@page "/"

<PageTitle>Welcome!</PageTitle>

<h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white text-center">Welcome to my <span class="text-purple-600 dark:text-blue-300">Fitness Tracker</span></h1>
<br>
<h2 class="mb-3 text-3xl font-bold leading-none tracking-tight text-grey-900 md:text-4xl lg:text-5xl dark:text-white text-center "> Your <span class="font-extrabold text-purple-600 dark:text-blue-300">tomorrow self </span> starts <span class="font-extrabold text-purple-600 dark:text-blue-300 ">today! </span> </h2>

<p class="flex items-center justify-center w-full ">
    <img  src="https://media.istockphoto.com/id/1420515189/photo/exercise-workout-and-training-with-a-healthy-man-training-for-sport-fitness-and-wellness.jpg?s=612x612&w=0&k=20&c=IVR0ZPuq6lDA7BKmVfG_1Zya1Z1qNjSzj2q4KNc9M_I=" />
</p>